doctype html
head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='shortcut icon' href='img/ycylogo.png' type='image/x-icon')
    // Bootstrap CSS
    link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.min.css')
    //- Datatables
    link(rel='stylesheet' href='//cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css')

    // icon css
    link(rel='stylesheet' href='assets/elagent-icon/style.css')
    link(rel='stylesheet' href='assets/animation/animate.css')
    link(rel='stylesheet' href='css/style.css')
    link(rel='stylesheet' href='css/responsive.css')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous')
    title student user management
    style.
        .user-profile{
        border: 1px solid #cccccc;
        padding: 20px 12px 20px 12px;
        margin-top: 45px;
        min-width: 250px;
        border-radius: 5px;
        }
        .user-img img{
        /* display: block;
        margin: auto;
        border: 10px solid #fff;*/
        width: 61px;
        box-shadow: 0 0 12px 8px rgb(0 0 0 / 3%);
        }
        .dashboard{
        border: 1px solid #cccccc;
        min-width: 250px;
        margin-top: 20px;
        padding: 0px 0px 0px 0px;
        border-radius: 5px;
        background-color:#fff;
        }
        .dashboard .ul li{
        list-style: none;
        display: block;
        padding-left:20px;
        }
        .dashboard .ul li a{
        color: #000;
        padding-top: 10px;
        font-size: 20px;
        margin-left:10px;
        }
        .dashboard li .fa{
        color:#000;
        }
        .active{
        background-color:lightgrey;
        border: 1px solid #cccccc;
        padding: 10px;
        margin-bottom: 13px;
        }
        .card{
        background-color: #ff652f;
        padding: 30px;
        }
        #green{
        background-color: green;
        }
        #grey{
        background-color: grey;
        }
        .edit-prf-btn button{
        width: 240px;
        border: none;
        padding: 10px;
        border-radius: 6px;
        text-align: center;
        }
        .dashboard_nav{
        display: flex;
        justify-content: space-start;
        align-items: center;
        }
        .dashboard_nav li{
        list-style-type: none;
        margin-left: 20px;
        }
        .dashboard_nav li a{
        font-size: 18px;
        color: #000;
        }
.body_wrapper
    include _header
    section.breadcrumb_area
        img.p_absolute.bl_right(src='img/home_one/b_leaf.svg' alt='')
        img.p_absolute.star(src='img/home_one/banner_bg.png' alt='')
        img.p_absolute.wave_shap_one(src='img/blog-classic/shap_01.png' alt='')
        img.p_absolute.wave_shap_two(src='img/blog-classic/shap_02.png' alt='')
        img.p_absolute.one.wow.fadeInRight(src='img/home_one/b_man_two.png' alt='')
        .container.custom_container 
    section.doc_solution_area.mb-4
        .sidebar-menu-wrapper
            .side-bar
                .container
                    .row
                        .container.table-responsive.py-5.form-tutor-upgrade
                            h3.text-center Teachers
                            table.table.table-bordered.table-hover.mt-4#myTable
                                thead.thead-dark
                                    tr
                                        th(scope='col') Name
                                        th(scope='col') Email
                                        th(scope='col') Phone
                                        th(scope='col') Joinning date
                                        th(scope='col') Teaching Experience
                                        th(scope='col') Desired Classes
                                        th(scope='col') Status
                                tbody
                                    each user,index in users 
                                        if (user.role  === "teacher")
                                            tr
                                                th(scope='row') 
                                                    span= user.name
                                                td 
                                                    span= user.email
                                                td 
                                                    span= user.contact
                                                td 
                                                    span= user.creationOn.toLocaleDateString('en-us', { year:"numeric", month:"long", day:"numeric"})
                                                td 
                                                    span= user.teachingExperience
                                                td 
                                                    span= user.desiredClass

                                                td
                                                    .d-flex.flex-row.flex-wrap 
                                                        .col-md-4.answers.answers__change.mt-0
                                                            button.btn.btn-sm.note__change.note__delete.btn-5.answer__change.answer__delete.p-1.mt-0#note__delete(data-nuser-id=`${user._id}`) Delete
                                                        .col-md-4.answers.answers__change.mt-0
                                                            button.btn.btn-sm.btn-5.answer__change.answer__edit.p-1.mt-0#note__delete(data-nuser-id=`${user._id}`) Downgrade
                                                        .col-md-4.answers.answers__change.mt-0
                                                            button.btn.btn-sm.btn-5.answer__change.answer__delete.p-1.mt-0#note__delete(data-nuser-id=`${user._id}`) Ban

    include _footer
include _js
script(src='//cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js')   
script.
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );